<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoiflyMSC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A74949871CD1A17F0058610A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74949A01CD1A1800058610A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74949AB1CD1A1800058610A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
